@font-face {
  font-family: "Pixeboy";
  src: url("Assets/Pixeboy.ttf");
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
  -webkit-app-region: drag;
  border-radius: 20px;
  margin: 0;
  background: transparent;

}

.app {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
    width: 13.375rem;
    padding: 1rem 1.0625rem;
    min-height: fit-content;

    background-image: url("Assets/outter box.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.title {

    display: flex;
    width: 157px;
    aspect-ratio: 157/27;
    padding: 0.25rem 0.625rem;
    justify-content: center;
    align-items: center;

    border-radius: 6.25rem;
    border: 1px solid #C079FF;
    background: rgba(210, 164, 255, 0.40);

    color: var(--white, #FFF);

    /* text styling */
    font-family: Pixeboy;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.Weather {
  margin: 0;
  color: #fff;
  font-family: Pixeboy;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  -webkit-text-stroke: 1px #C079FF;
  paint-order: stroke fill;
}

.container { 
    display: flex;
    overflow: hidden;
    width: 11.25rem;
    min-height: 8rem;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    background-image: url("Assets/content-frame.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
